Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  portability-*,
  cert-*,
  -cert-err58-cpp,
  -cert-err33-c,
  -portability-template-virtual-member-function,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion,
  -misc-include-cleaner,
  -misc-misplaced-const,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -misc-header-include-cycle,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
