CTest*
CPack*
CMakeDoxy*
CMakeFiles/
CMakeScripts/
CMakeSettings.json
Testing/
build/
out/
.vs*/

compile_commands.json
.cmake
.clangd

.ninja*
*.ninja
*.user.*
*.user

config.h
cmake_*.cmake
Makefile
CMakeCache.txt
install_manifest.txt

core
*.a
*.pc
*.so
*.so.*
*.gcov
*.tar.gz
*.core
test_*
