CTest*
CPack*
CMakeDoxy*
CMakeFiles/
CMakeScripts/
CMakeUserPresets.json
CMakeSettings.json
Testing/
build/

.vs/
.cmake
.clangd
.ninja*
*.ninja
*.user.*
*.user
config.h
cmake_*.cmake
Makefile
CMakeCache.txt
install_manifest.txt
compile_commands.json

core
*.a
*.pc
*.so
*.so.*
*.idx
*.gcov
*.tar.gz
*.core
test_*
